{{ block "index" . }}
<html lang="en">
<head>
    <title>Rulette Rousse</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--    Ligne pour integrer HTMX au projet-->
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <h1>Rulette Rousse</h1>
    <h2>Bonjour joueur nr : </h2>
    <div id="btn_box">
        {{ template "play_rand_btn" .}}
        {{ template "play_friend_btn" .}}
        {{ template "leaderboard_btn" .}}
    </div>

</body>
</html>
{{ end }}

{{ block "play_rand_btn" . }}
<a href="#" hx-post="/play_random">
    <button type="submit">Jouer</button>
</a>
{{ end }}

{{ block "play_friend_btn" . }}
<a href="#" hx-post="/play_friend">
    <button type="submit">Jouer avec un ami</button>
</a>
{{ end }}

{{ block "leaderboard_btn" . }}
<a href="#" hx-post="/leaderboard">
    <button type="submit">Tableau des scores</button>
</a>
{{ end }}
