{{ block "index" . }}
<html lang="en">
  <head>
    <title>Rulette Rousse</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <!--    Ligne pour integrer HTMX au projet-->
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <!--    Ligne pour integrer TailwindCSS au projet-->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="w-100">
    <div class="bg-black h-screen flex items-center justify-center">
      <main
        class="flex items-center flex-col bg-gray-50 w-3/5 h-1/2 rounded-xl"
        style="
          background-image: url(&quot;/public/assets/bg-image-welcome.jpg&quot;);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        "
      >
        <h1 class="text-7xl font-extrabold text-center py-4 text-gray-50">
          Rulette Rousse
        </h1>
        <div class="h-full w-full flex items-center justify-center">
          {{ template "homePage" . }}
        </div>
      </main>
    </div>
  </body>
</html>
{{ end }} {{ block "homePage" . }}
<div id="btn_box" class="flex flex-col p-3 w-3/5">
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full my-2"
    type="submit"
  >
    Jouer
  </button>
  <button
    class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full my-2"
    type="submit"
  >
    Jouer avec un ami
  </button>
  <button
    class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full my-2"
    type="submit"
  >
    leaderboard
  </button>
</div>
{{ end }}
